@font-face {
  font-family: "Le Murmure";
  src: url("fonts/le-murmure/LeMurmure-Regular.woff2") format("woff2"),
       url("fonts/le-murmure/LeMurmure-Regular.woff") format("woff"),
       url("fonts/le-murmure/le-murmure.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Gulax";
  src: url("fonts/gulax/Gulax-Regular.woff2") format("woff2"),
       url("fonts/gulax/Gulax-Regular.woff2") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "exo";
  src: url("fonts/exo/Exo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "exo";
  src: url("fonts/exo/Exo-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

:root {
  --gradient-color-one: #ffffdb;
  --gradient-color-two: transparent;
}

[data-chakra="1"] {
  --gradient-color-two: rgb(255, 126, 126);
}

[data-chakra="2"] {
  --gradient-color-two: rgb(255, 202, 104);
}


[data-chakra="3"] {
  --gradient-color-two: rgb(255, 255, 167);
}


[data-chakra="4"] {
  --gradient-color-two: rgb(125, 168, 125);
}

[data-chakra="5"] {
  --gradient-color-two: rgb(79, 107, 160);
}


[data-chakra="6"] {
  --gradient-color-two: rgb(137, 114, 179);
}

[data-chakra="7"] {
  --gradient-color-two: white;
}


body {
  font-family: "exo";
  max-width: 60ch;
  font-size: 120%;
  margin: 0 auto;
  padding: 5vh 0 10vh 0;
  /* background: linear-gradient(to bottom, white, #d4c4d4); */
  background: radial-gradient(circle at 50% 50%, transparent 30%, var(--gradient-color-one) 90%), linear-gradient(to bottom, transparent, var(--gradient-color-two) 90%);
  box-sizing: border-box;
  min-height: 100vh;
}

h1, h2, h3 {
  /* font-family: "Le Murmure"; */
  font-family: "Gulax";
  font-weight: 400;
  text-transform: lowercase;
}

h1 {
  margin: 2rem 0 0rem 0;
  font-size: 60px;
}

h2 {
  margin: 1rem 0 0rem 0;
  font-size: 40px;
}

h3 {
  margin: 1rem 0 1rem 0;
  font-size: 25px;
}

input, select, button {
  font: inherit;
}

img {
	max-height: 30vh;
	max-width: initial;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

label {
  margin-right: .5em;
  display: inline-block;
  margin-top: .25em;
}

input[type="checkbox"] {
  margin-right: .25em;
  vertical-align: bottom;
}

p { 
  margin-top: 0;
}

#index {
  text-align: center;
  margin-top: 20vh;
}

#index h1 {
  font-size: 80px;
}