<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body{% if chakra_1 %} data-chakra="{{ chakra_1 }}"{% endif %}>
{% block body %}
{% endblock %}
</body>
</html>