{% extends "base.html" %}
{% block title %}Attunement generator{% endblock %}
{% block body %}
<div id="index">
	<h1>Attunement generator</h1>
	<form method="get" action="{{ url_for('step1') }}">
		<input type="submit" value="start">
	</form>
</div>
{% endblock %}
