{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
<h1>receive</h1>
<h2>Hello {{name}}</h2>
<form method="get" action="{{ url_for('receive') }}">
	<input type="hidden" name="name"{{ {'value': name}|xmlattr }}>
	<input type="submit" value="ok">
</form>
{% endblock %}
