{% extends "step1.html" %}
{% block step_title %}{% endblock %}
{% block step_form %}

<h1>Chakra</h1>


<p>The chakra that might help you with your question is, in English, <em>{{choice_1['chakra_type_english']}}</em>.</p>
<p>In Sanskrit it is named <em>{{choice_1['chakra_type_sanskrit']}}</em>.</p>
<p>The location of the chakra is <em>{{choice_1['chakra_location']}}</em>.</p>
<p>The first quality that is related to this chakra, is <em>{{choice_1['chakra_quality_1']}}</em>.</p>
<p>The second quality that is related to this chakra, is <em>{{choice_1['chakra_quality_2']}}</em>.</p>
<p>The third quality that is related to this chakra, is <em>{{choice_1['chakra_quality_3']}}</em>.</p>

<p>The colour you can work with is <em>{{choice_1['chakra_colour']}}</em>.</p>
<p>The stones that activate this chakra are <em>{{choice_1['chakra_stone']}}</em>.</p>
<p>The element that activates this chakra is <em>{{choice_1['chakra_element']}}</em>.</p>
<p>The action that activates this chakra is <em>{{choice_1['chakra_action']}}</em>.</p>
<p>The gland that is activated through this chakra is the <em>{{choice_1['chakra_gland']}}</em>.</p>


<h2>Additional attunement elements</h2>

<img src="{{ url_for('static', filename=image_planet) }}">
<img src="{{ url_for('static', filename=image_tarot) }}">

<p>The planet that might help you with your question is <em>{{choice_2['planet']}}</em>.</p>
<p>The tarot card that might help you with your question is <em>{{choice_3['tarot_card']}}</em></p>



<form onsubmit="return validate()" method="get" action="{{ url_for('step4') }}">
</form>
<script>
</script>
{% endblock %}