{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
{% block step_head %}<p><a href="{{url_for('index')}}">start over</a></p>{% endblock %}
{% block step_title %}<h1>step 1</h1>{% endblock %}
{% block step_form %}
<form method="get" action="{{ url_for('step2') }}">
		<p>Hello, this attunement generator is here to try to give you some tools to improve a situation that is hindering to fully enjoy the here and the now.</p>
		<p>
			<label for="form">Would you prefer to</label>
			<select name="form">
				<option value="1">meet a tree</option>
				<option value="2">work with a chakra</option>
				<option value="3">perform a movement</option>
				<option value="4">sing a mantra</option>
			</select>
		</p>
		<p><input type="submit" value="continue"></p>
</form>
{% endblock %}
{% endblock %}
