{% extends "step1.html" %}
{% block step_title %}{% endblock %}
{% block step_form %}

<h1>Mantra</h1>

<p>The primal sound that relates to your question is: <em>{{primal}}</em>. </p>
<p>The Bija mantra that resonates with your question is: <em>{{bija}}</em>. </p>
<p>The vowel that resonates with your question is: <em>{{vowel}}</em>.</p>
<p>The solfeggio that resonates with your question is: <em>{{solfeggio}}</em>.</p>

<h3>Play song</h3>
<audio controls>
  <source src={{ url_for('static', filename=song_to_play) }} type="audio/mpeg">
	Your browser does not support the audio element.
</audio> 


<h2>Additional attunement elements</h2>

<p>The frequency that resonates with your question is: <em>{{frequency}}</em>.</p>

<form method="get" action="{{ url_for('step5') }}">
		<p>
		<label for="answer_4">Would you also like to hum to the frequency that resonates with your question?</label>
		</p>
		<p><input type="submit" value="continue"></p>

	<input type="hidden" name="chakra_1"{{ {'value': chakra_1 } | xmlattr }}>
	{% for issue in issues %}				
		<input type="hidden" name="issues"{{ {'value': issue } | xmlattr }}>
	{% endfor %}

</form>
<script>
</script>
{% endblock %}