{% extends "step1.html" %}
{% block step_title %}{% endblock %}
{% block step_form %}

<h1>Tree</h1>

<img src="{{ url_for('static', filename=image_species[0]) }}">
<img src="{{ url_for('static', filename=image_species[1]) }}">


<p>The name of the tree that might help you with your question, is: <em>{{choice_1['species_english']}}</em></p>
<p>Le nom de l'arbre qui pourrait vous aider avec votre question, est: <em>{{choice_1['species_french']}}</em></p>
<p>Nazwa drzewa, które może ci pomóc w twoim pytaniu, to: <em>{{choice_1['species_polish']}}</em></p>
<p>De naam van de boom die je kan helpen met je vraag, is: <em>{{choice_1['species_dutch']}}</em></p>
<p>The Latin name of the tree that might help you, is: <em>{{choice_1['species_latin']}}</em></p>

{% if choice_1['celtic_use'] %}
<p>In the Celtic tradition the tree was approached for the following reasons: <em>{{choice_1['celtic_use']}}</em></p>
{% endif %}
{% if choice_1['celtic_value_1'] %}
<p>In the Celtic tradition the tree was symbol for: <em>{{choice_1['celtic_value_1']}}</em></p>
{% endif %}

{% if choice_1['celtic_value_2'] %}
<p>In the Celtic tradition the tree was also symbol for: <em>{{choice_1['celtic_value_2']}}</em></p>
{% endif %}

{% if choice_1['celtic_value_3'] %}
<p>In the Celtic tradition the tree was also symbol for: <em>{{choice_1['celtic_value_3']}}</em></p>
{% endif %}

{% if choice_1['edibility'] %}
<p>Some parts of this tree are edible: <em>{{choice_1['edibility']}}</em></p>
{% endif %}

{% if choice_1['characteristics'] %}
<p>More characteristics: <em>{{choice_1['characteristics']}}</em></p>
{% endif %}

<h2>ADDITIONAL ATTUNEMENT ELEMENTS</h2>

<p>The colour that might help you with your question, is <em>{{choice_1['chakra_colour']}}</em></p>

<p>The sound that might help you with your question, is <em>{{choice_1['chakra_bija_mantra']}}</em></p>


<form onsubmit="return validate()" method="get" action="{{ url_for('step4') }}">
</form>
<script>
</script>
{% endblock %}