{% extends "step1.html" %}
{% block step_title %}<h1>step 2</h1>{% endblock %}
{% block step_form %}
<form method="get" action="{{ url_for('step3') }}">
	<p>Please indicate the realm of your question.</p>
	<p><label for="chakra_1">Do you have a question regarding</label>
		<select name="chakra_1" id="chakra_1">
			<option value="1">survival</option>
			<option value="2">sexuality</option>
			<option value="3">self-esteem</option>
			<option value="4">love</option>
			<option value="5">communication</option>
			<option value="6">insight</option>
			<option value="7">a connection to other dimensions</option>
			<option value="8">random</option>
		</select>
	</p>
	<p><input type="submit" value="continue"></p>
	<input type="hidden" name="form"{{ {'value': form } | xmlattr }}>
</form>
{% endblock %}
