{% extends "step1.html" %}
{% block step_title %}{% endblock %}
{% block step_form %}

<h3>Play frequency</h3>

<audio controls>
  <source src={{ url_for('static', filename=sound_frequency) }} type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<form onsubmit="return validate()" method="get" action="{{ url_for('step5') }}">
</form>
<script>
</script>
{% endblock %}