{% extends "step1.html" %}
{% block step_title %}{% endblock %}
{% block step_form %}

<h1>Exercise(s)</h1>

<style>
	img { max-width: 100px; }
</style>


<p>The exercise(s) that might help you: </p>
{% if choice_1['rune_primary'] %}
	<p><strong>{{choice_1['rune_primary']}}</strong></p>
	<img src="{{ url_for('static', filename=image_rune_primary) }}">
	<p>{{choice_1['mouvement_primary']}}</p>
{% endif %}

{% if choice_1['rune_secondary'] %}
<p>OR</p>
	<p><strong>{{choice_1['rune_secondary']}}</strong></p>
	<img src="{{ url_for('static', filename=image_rune_secondary) }}">
	<p>{{choice_1['mouvement_secondary']}}</p>
{% endif %}


<h2>Additional attunement elements</h2>

{% for x in images_chakra_stone %}
<img src="{{ url_for('static', filename=image_chakra_stone[x]) }}">
{% endfor %}

<p>The stones that might help you with this exercise, are <em>{{choice_2['chakra_stone']}}</em>.</p>
<p>You might want to wear clothes of the colour <em>{{choice_3['chakra_colour']}}</em>.</p>



<form onsubmit="return validate()" method="get" action="{{ url_for('step4') }}">
</form>
<script>
</script>
{% endblock %}