{% extends "step1.html" %}
{% block step_title %}<h1>step 3</h1>{% endblock %}
{% block step_form %}
<form onsubmit="return validate()" method="get" action="{{ url_for('step4') }}">
	<p>{{title}} - the realm of your question contains the following word cloud:</p>
	{% for words in words_2_print %}
	<input type="checkbox" name="words" id="words{{loop.index}}"><label for="words{{loop.index}}">{{ words }}</label>
	{% endfor %}
	<p>Select two phrases...</p>
	<p><input type="submit" value="continue"></p>
	<input type="hidden" name="form"{{ {'value': form } | xmlattr }}>
	<input type="hidden" name="chakra_1"{{ {'value': chakra_1 } | xmlattr }}>
</form>
<script>
	function validate() {
		let form = document.querySelector("form");
		var words = Array.from(document.querySelectorAll("input[name='words']")).filter(x => x.checked);
		if (words.length !== 2) {
			alert("Choose 2 issues");
			return false;
		}
		return true;
	}
</script>
{% endblock %}